Source: hwdetector
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>=10), python3-all,python3-setuptools,dh-python,python3-dill
Standards-Version: 4.1.2
#Vcs-Git: git://anonscm.debian.org/collab-maint/hwdetector.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/hwdetector.git

Package: hwdetector
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-dill
Description: Simple system detector
 Simple system detector

Package: valentin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, hwdetector, python3-gi
Description: Diagnosys system
 Simple system detector with system checks and hints
